.dropdown-menu {
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
	left: 0;
	width: 280px;
}

#no-pagination {
	height: 70px;
}

.product {
	width: 300px;
}

.product img {
	width: 200px;
	height: auto;
}

.product .caption {
	height: 50px;
}


/*Edit Page*/

#form-edit-product {
	padding-bottom: 20px;
}

.seleciona {
	margin-top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #607D8B;
	border-color: #546d79;
}

.pagination>li>a,
.pagination>li>span {
	color: #607D8B;
}

#btn-edit1,
#btn-edit2,
#btn-remove1,
#btn-remove2 {
	padding-right: 23px;
	padding-left: 23px;
}

#btn-edit2 {
	display: inline!important;
}

#btn-edit1 {
	margin-right: 5px;
}

.form-product-price input {
	max-width: 78px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	margin-top: -10px;
}

.input-group-btn > *,
select.form-control,
.pagination.pagination-sm > li > a {
	border-radius: 0;
}
