.drop_zone {
	height: 200px;
	width: 100%;
	border: 1px solid #CCC;
	margin-top: 10px;
	overflow-y: scroll;
}

#files {
	display: none;
}

#new-product-title h1 {
	margin-bottom: 10px;
}

.product_img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 90px;
	height: 90px;
	margin: 5px;
	margin-right: 0;
	display: inline-block;
}

.href_del {
	position: relative;
	right: 20px;
}

#confirmation button {
	margin-top: 20px;
}

#confirmation .modal-header{
	text-align: center
	
}


.error_feedback {
	border-color: red;
}

.insert-number {
	max-width: 100px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#new-product > div > div, #edit-product > div > div {
	padding-left: 0;
	padding-right: 0;
}

#page-content-wrapper * {
	border-radius: 0;
}

.insert-category {
	max-width: 200px;
}

#row-submit {
	margin-bottom: 1px;
	margin-left: 1px;
}

#btn-new-product, #btn-edit-product {
	border-radius: 0;
}

#field-submit {
	padding-left: 0px;
}