#title h1 {
	margin-top: 0px;
	margin-bottom: 15px;
}

/* Setup container */
.tree, .tree ul, .tree li {
    position: relative;
}

.tree ul {
    list-style: none;
    padding-left: 32px;
}

/* Pseudo Elements */
.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}

/* Horizontal lines */
.tree li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}

/* Vertical lines */
.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

/* Last item on every level, just a short line */
.tree ul > li:last-child::after {
    height: 8px;
}

.tree {
	padding-left: 15px;
}

.tree ul {
	padding-left: 15px;
}

.tree .category {
	padding: 5px;
	position: relative;
	top: -5px;
}

.category .glyphicon {
	  visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;
}

.category a {
	outline: 0 !important;
}

.category:hover .glyphicon {
	visibility: visible;
	opacity: 1;
}

.category .glyphicon {
	margin-left: 5px;
}

.tree a {
    text-decoration: none;
}

.href_add, .href_edit, .href_del {
    display: inline;
}

/* ----- */

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}