#title h1 {
	margin-top: 0px;
	margin-bottom: 15px;
  display: inline;
  float: left;
}

#add_new_on_root {
  position: relative;
  top: -10px;
  right: 7px;
  outline: 0 !important;
  text-decoration: none;
}

.category a {
	outline: 0 !important;
}

.category .glyphicon {
	margin-left: 5px;
}

.tree a {
    text-decoration: none;
}

.href_add, .href_edit, .href_del {
    display: inline;
}

.list-group-item > .icon:after {
    font-family: 'Glyphicons Halflings';
    content: "\e259";
    margin-right: 5px;
    position: relative;
    top: 3px;
    font-size: 12px;
}
.list-group-item.collapsed > .icon:after {
    content: "\e258";
}

/* ----- */

.just-padding {
  padding: 15px;
}

.list-group {
  margin-bottom: 0;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 60px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 75px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 90px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 105px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 120px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 135px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 150px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
  padding-left: 165px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group .list-group > .list-group-item {
  padding-left: 180px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.categ_name, .categ_num_child {
  position: relative;
  top: 2px;
}

.categ_num_child {
  font-style: italic;
  color: #aaa;
  font-size: 0.9em;
  position: relative;
  left: 5px;
}

.href_add .glyphicon {
  position: relative;
  left: 3px;
  top: 1px;
}
.href_edit .glyphicon,
.href_del .glyphicon {
  position: relative;
  left: 2px;
  top: 2px;
}