#title h1 {
	margin-top: 0px;
	margin-bottom: 15px;
  display: inline;
  float: left;
}

#add_new_on_root {
  position: relative;
  top: -10px;
  right: 7px;
  outline: 0 !important;
  text-decoration: none;
}

.category .glyphicon {
	  visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.2s linear;
}

.category a {
	outline: 0 !important;
}

.category:hover .glyphicon {
	visibility: visible;
	opacity: 1;
}

.category .glyphicon {
	margin-left: 5px;
}

.tree a {
    text-decoration: none;
}

.href_add, .href_edit, .href_del {
    display: inline;
}

/* ----- */

.just-padding {
  padding: 15px;
}

.list-group {
  margin-bottom: 0;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.categ_name {
  position: relative;
  top: 2px;
}

.categ_name .glyphicon {
  position: relative;
  top: 2px;
}
.categ_num_child {
  font-style: italic;
  color: #aaa;
  font-size: 0.9em;
  position: relative;
  left: 5px;
}

.href_add .glyphicon {
  position: relative;
  left: 3px;
  top: 1px;
}
.href_edit .glyphicon,
.href_del .glyphicon {
  position: relative;
  left: 2px;
  top: 2px;
}