#shipping_address .top_row,
#billing_address .top_row,
#payment_methods .top_row {
	margin-bottom: 15px;
	margin-top: 20px;
	border-bottom-style: groove;
	padding-bottom: 10px;
	padding-left: 15px;
}

.billing_tab_content,
.shipping_tab_content {
	background: white;
	border: 1px solid #DDDDDD;
	border-top: none;
	padding: 15px;
}

#saved_shipping_addresses ul,
#saved_billing_addresses ul {
	margin-bottom: 0;
}

#saved_shipping_addresses ul input,
#saved_billing_addresses ul input {
	margin-right: 15px;
}

#saved_shipping_addresses li,
#saved_billing_addresses li {
	display: table-row;
	border: none;
}

#saved_shipping_addresses ul label,
#saved_billing_addresses ul label {
	font-weight: normal;
}

#saved_shipping_addresses li div,
#saved_billing_addresses li div {
	display: table-cell;
	vertical-align: middle;
}

.top_row {
	margin-bottom: 15px;
	margin-top: 20px;
	border-bottom-style: groove;
	padding-bottom: 10px;
	padding-left: 15px;
}

.content {
	background: white;
	border: 1px solid #DDDDDD;
	padding: 15px;
	padding-bottom: 0px;
}

.content .radio {
	margin-top: 15px;
	margin-bottom: 0;
}

.order-info img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	width: 30px;
}

.order-details {
	padding: 15px;
}

#billing_address > .row {
	margin-top: 20px;
}

#same_as_shipping {
	background: white;
	border: 1px solid #DDDDDD;
	padding: 15px;
	margin-top: 20px;
	margin-right: -15px;
	margin-left: -15px;
}

#billing_box {
	display: none;
}