

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   .navbar {
   	border-radius: 0;
   	margin-bottom: 0;
   }

   body {
   	padding-top: 0px;
   	background-color: #fafafa;
   }

   .nav-2nd-row {
   	padding-left: 0px;
   	padding-bottom: 10px;
   }

   .carousel-inner {
   	overflow: hidden;
   }

   .carousel-inner img {
   	width: 100%;
   	height: 300px;
   }

   #categories, #main-title {
   	font-size: large;
   	margin-bottom: 15px;
   	border-bottom-style: groove;
   	padding-bottom: 10px;
   	padding-left: 15px;
   	
   }

   .caption .price {
      font-weight: bold;
      font-size: 1.3em;
   }

   .button-product{
      font-size: 1.4em;
   	padding: 6px;
      text-decoration: none;
      position: relative;
      bottom: 7px;
   }

   .button-product .plus {
      font-size: 0.65em;
      display: inline;
      position: relative;
      bottom: 5px;
   }

   .button-product:hover {
      text-decoration: none;
   }

   .button-product, #main-menu a{
   	border-radius: 0px;
   }

   #main-menu{
   	margin-top: 10px;
      background-color: initial;
   }

   #main-menu > a, #main-menu > a:hover{
   	background-color: initial;
      border-left: none;
      border-right: none;
   }

   a#deals{
   	background-color: rgb(181, 212, 207);
   	margin-bottom: 2px;
   }

   #wrapper{
   	padding-bottom: 20px;
      padding-top: 20px;
   }

   #inside-footer{
   	padding: 15px;
   }

   #inside-footer a{
   	padding-right: 20px;
   	text-decoration: none;
   	color: #9d9d9d;
   }

   .navbar-form .input-group {
    display: table;
	}

	.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
    white-space: nowrap;
    width: 5%;
	}
	.navbar-form .input-group .form-control {
    width: 100%;
	}

   /* Sticky footer */
   
   html {
      position: relative;
      min-height: 100%
   }
   
   footer {
      border-top-style: ridge;
      background-color: #1a1a1a;

      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 53px;
   }
   
   body {
      /* Margin bottom by footer height */
      margin-bottom: 50px;
   }

   .product-title{
      color: #337ab7;
   }

   #content-wrapper .pagination {
      margin-top: 3px;
   }

   .pagination.pagination-sm > li > a,
   .thumbnail, 
   #searchBar *, 
   .well,
   .form-group > select,
   .form-control.qty,
   .btn
   {
      border-radius: 0;
   }

   #no-pagination
   {
      height: 60px;
   }

   .text-center>.pagination>.disabled>a {
      cursor: default;
   }