/*Pagina de Login*/

body{
    background-color: #fafafa;
    background-image: url('../images/assets/auth-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: 100% auto;
   
}

#form-signin > *{
	 border-radius: initial;
}

#form-signin 
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}
#form-signin .form-signin-heading, #form-signin .checkbox
{
    margin-bottom: 10px;
}

#form-signin .checkbox
{
    font-weight: normal;
    display: inline;
}
.recover-pw {
    margin-top: 2px;
}

#form-signin input
{
    position: relative;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
#form-signin .form-group > div
{
    position: relative;
}
#form-signin input:focus
{
    z-index: 2;
}
#form-signin label
{
    margin-top: 0px;
}
#account-wall
{
    padding: 30px 0px 5px 0px;
    background-color: #F3F3F3;
    margin: 20px auto;
    max-width: 350px;
}
#sign-error
{
    margin: 20px auto;
    max-width: 350px;
}
#login-button
{
    margin-top: 20px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

#login-email, #form-signin > input{
	margin-bottom: 10px;
}

#container-login {
	padding-top: 10px
}

.checkbox{
	color: #135288;
}

/*Register*/


.panel-title, .panel-title h4{
    text-align: center;
    margin-bottom: 5px;
    color: black;
}

.alert {
    margin: 5px 15px 5px 15px;
    display: none;
}

#error {
    margin-top: 10px;
}

#success {
    text-align: center;
    margin-top: 10px;
}

#reset_btn {
    margin-top: 15px;
}

#login_btn {
    border-radius: 0;
    margin: 10px 25px 15px 25px;
    width: 300px;
    display: none;
}

.error_feedback {
    border-color: red;
}

#reset_error {
    text-align: center;
    padding: 20px;
}

.inline_help_label {
    width: 100%;
}

.inline_help {
    display: inline;
    position: relative;
}

.ui-tooltip {
    min-width: 400px;
}

.inline_pw_help {
    padding-top: 10px;
    font-size: 0.9em;
    display: block;
}
